*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  width:100%;
  height:100%;

}
#root{
  width:100%;
  height:100%;
}
.parent{
  width:100%;
  height:100vh;
  background-color:#070101;
  padding: 30px;
}
.card{
  height: 400px;
  width: 300px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  padding: 20px; 
}
.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top image{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 3px;

}
.top button{
  display: flex;
  align-items:center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 14px;
  border-radius: 5px;
  gap: 5px;
  background-color: transparent;
  color:burlywood;
}
.centre{
  background-color: red;
}
.center h3{
  font-size: 18px;
  font-weight:500;
}
.centre h3 span{
  font-size:10px;
  font-weight:400;
  color:#6b6060;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding-top: 10px 0px;
}